.site-header {
  position: fixed;

  top: var(--navbar-offset);
  left: 0;

  width: 100%;
  backdrop-filter: blur(1px);

  z-index: 1300;

  overflow: hidden;

  display: flex;

  flex-direction: column;

  background: var(--bg);

  backdrop-filter: blur(1px);

  max-height: 68px;

  transition:
    max-height 1.5s cubic-bezier(0.16, 1, 0.3, 1),
    background-color .8s ease,
    backdrop-filter .8s ease,
    box-shadow .8s ease,
    /* border-color .3s ease; */
}

.site-header.scrolled {
  backdrop-filter: blur(12px);
  background: transparent;
  border-bottom:
    1px solid rgba(255,
      255,
      255,
      .06);
  box-shadow:
    0 4px 20px rgba(0,
      0,
      0,
      .08);
  max-height: 60px;
}

.navbar-content {
  position: relative;

  z-index: 2;

}

.site-header.dropdown-active {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);

  max-height: 520px;
}

.logo {
  font-size: var(--text-lg);
  font-weight: bold;
  color: var(--primary);
  user-select: none;
  text-decoration: none;
  flex-shrink: 0;
}

.navbar-brand {
  display: flex;

  align-items: center;
}

.navbar-logo {
  width: 50px;

  height: 50px;

  display: block;
}

.site-header.scrolled.dropdown-active {

  background: var(--bg);

  backdrop-filter: blur(1px);

}

