

/* =========================
   HEADER ABOVE OVERLAY
========================= */


/* .site-header.mobile-open .logo {
  opacity: 0;

  pointer-events: none;

  transform:
    translateY(-6px);
}

.site-header.mobile-open nav {
  border-color: transparent;
} */

/* =========================
   TOP LIGHT EFFECT
========================= */
/* 
.header-expand-area::before {
  content: '';

  position: absolute;

  inset: 0;

  pointer-events: none;

  background:
    linear-gradient(to bottom,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0));
} */

/* new */

/* .page-overlay {
  position: fixed;

  left: 0;
  top: 72px;

  

  width: 100%;
  height:
    calc(100vh - 72px);

  opacity: 0;

  pointer-events: none;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background:
    rgba(255, 255, 255, 0.04);

  transition:
    opacity 0.35s ease;

  z-index: 900;
}  */
/*
.page-overlay {
  position: fixed;

  top: 72px;

  left: 0;

  width: 100%;

  height: calc(100vh - 72px);

  z-index: 900;

  opacity: 0;

  visibility: hidden;

  pointer-events: none;

  backdrop-filter: blur(14px);
} */

.page-overlay {
  position: fixed;

  top: 72px;

  left: 0;

  width: 100%;

  z-index: 900;

  opacity: 0;

  visibility: hidden;

  pointer-events: none;

  background:
    rgba(255,255,255,0.08);

  backdrop-filter:
    blur(0px);

  transition:
    opacity 0.35s ease,
    backdrop-filter 0.45s ease;
}


.page-overlay.active {
  opacity: 1;

  pointer-events: auto;

  visibility: visible;

  backdrop-filter:
    blur(10px);

}

