.analysis-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.audio-upload-input input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

input[type="file"]{
  border: 1px solid red;
}

.analysis-results {
  width: 100%;
  max-width: 1250px;
  overflow: hidden
}

.analysis-results .waveform-canvas {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 1;
}