@media (max-width: 1024px) {

  .builds-grid {
    grid-template-columns:
      repeat(
        2,
        minmax(0, 1fr)
      );
  }

}

@media (max-width: 768px) {

  .builds-section {
    padding: 4rem 0;
  }

  .builds-grid {
    grid-template-columns: 1fr;

    gap: var(--space);
  }

  .build-card-link {
    min-height: unset;

    padding: var(--padding-lg);
  }

}